{% extends "base.html" %}


{% block title %} {{ imageObj.title }} {% endblock %}

{% block content %}

<h1> {{ imageObj.title }} </h1>

{% load thumbnail %}
<a href="{{ imageObj.image.url }}">
    <img src="{% thumbnail imageObj.image 300x0  %}" alt="Image" class="image-detail">
</a>

{% with total_likes=imageObj.users_like.count %}

    <div class="image-info">
        <div>
            <span class="count">
                {{ total_likes }} like{{ total_likes|pluralize }}
            </span>
        </div>
        {{ imageObj.description|linebreaks }}
    </div>


    <div class="image-likes">
        {% for user in imageObj.users_like.all %}

        <div>
        {% if user.profile.photo %}
        <img src="{{ user.profile.photo.url }}" alt="">
        {% endif %}
        <p>{{ user.first_name }}</p>

        </div>
        {% empty %}
        Nobody has liked this pic yet
        {% endfor %}



    </div>

{% endwith %}


{% endblock %}