{% extends "base.html" %}


{% block title %} {{ imageObj.title }} {% endblock %}

{% block content %}

<h1> {{ imageObj.title }} </h1>

{% load thumbnail %}
<a href="{{ imageObj.image.url }}">
    <img src="{% thumbnail imageObj.image 300x0  %}" alt="Image" class="image-detail">
</a>

{% with total_likes=imageObj.users_like.count users_like=imageObj.users_like.all %}

    <div class="image-info">
        <div>
            <span class="count">
                <span class="total" > {{ total_likes }} </span>
                 like{{ total_likes|pluralize }}
            </span>

            <a href="#" data-id="{{imageObj.id}}" data-action="{% if request.user in users_like %}un{% endif %}like"
               class="like button"
            >
                {% if request.user not in users_like %}
                Like
                {% else %}
                Unlike
                {% endif %}
            </a>
        </div>
        {{ imageObj.description|linebreaks }}
    </div>


    <div class="image-likes">
        {% for user in users_like %}

        <div>
        {% if user.profile.photo %}
        <img src="{{ user.profile.photo.url }}" alt="">
        {% endif %}
        <p>{{ user.first_name }}</p>

        </div>
        {% empty %}
        Nobody has liked this pic yet
        {% endfor %}



    </div>

{% endwith %}


{% endblock %}

{% block domready %}

    const url = '{% url "images:like" %}';
    options={
        method : 'POST',
        headers : {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    };

    document.querySelector('a.like').addEventListener('click', function(e){
    e.preventDefault();

    var likeButton = this;


    formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options['body'] = formData;


    fetch(url , options)
    .then(response => response.json())
    .then(data => {
        if(data['status'] === 'ok'){

            var previousAction = likeButton.dataset.action;


            var action = previousAction == 'like' ? 'unlike' : 'like';
            likeButton.dataset.action = action;
            likeButton.innerHTML = action;




        var likeCount = document.querySelector('span.count .total');
        var totalLikes = parseInt(likeCount.innerHTML);

        likeCount.innerHTML = previousAction === 'like' ? totalLikes + 1 : totalLikes - 1;

    }
    })
    });

{% endblock %}