{% extends "base.html" %}
{% load thumbnail %}


{% block title %}People{% endblock %}

{% block content %}
 <h1>People</h1>
 <div id="people-list">
    {% for user in users %}

    {% if user.get_full_name and user.get_full_name != request.user.get_full_name %}



     <div class="user">
        <a href="{{ user.get_absolute_url }}">
            <img src="{% thumbnail user.profile.photo 180x180 %}">
        </a>
        <div class="info">
            <a href="{{ user.get_absolute_url }}" class="title">
                {{ user.get_full_name }}
            </a>
        </div>
    </div>

     {% endif %}
    {% endfor %}

 </div>
{% endblock %}